@model IEnumerable<ArtistAgencyWeb.DTOs.ActorDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-6">
        <br/>
        <h2>Actors List</h2>
        <div class="row">
            <div class="col-3">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
            <div class="col-sm-9">
                
                <div class="d-flex justify-content-end">
                    @*<label style="margin-right: 20px;">Buscar: </label>*@
                    <input id="textoABuscar" style="margin-right: 10px;" type="text" placeholder="Search..." />
                    <button onclick="SearchActors()">Search</button>

                </div>

            </div>
        </div>

        <div id="Filtered"></div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a href="#" onclick="LoadEditView('@item.Id')">Edit</a> |
                        <a href="#" onclick="LoadDetailsView('@item.Id')">Details</a> |
                        <a href="#" onclick="LoadDeleteView('@item.Id')">Delete</a>
                    </td>
                </tr>
            }

        </table>

    </div>
    <div id="details" class="col-6">

    </div>
</div>


@section Scripts{


    <script src="~/Scripts/Actors/Index.js"></script>
    <script src="~/Scripts/Actors/Details.js"></script>

}


